.card {
  width: 80%;
  max-width: 500px;
  ::-webkit-scrollbar {
    display: none;
  }
  .card-title {
    background: #f2f2f2;
  }
  .card-body {
    background: #fcfcfc;
    padding: 1rem;
  }
  .card-item {
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: all 0.1s linear;
    &:hover,
    &:active {
      transform: scale(1.05);
    }
  }
  .card-item + .card-item,
  .card + ul {
    margin-top: 1rem;
  }
}
ul {
  padding: 0;
  list-style: none;
  li  {
    a {
      text-decoration: none;
    }
  }
}
.options {
  margin: 2rem 0;
  button {
    margin: 0;
  }
  .row {
    img + img {
      margin-left: 1rem;
    }
  }
}
